#logo {
    width: 10%;
    margin-left: 10%;
    margin-right: 5%;
    
  }
  #QuienesSomos {
    position: relative;
    margin-left: 5%
  }
  #Contacto {
    position: relative;
  }
 
  
  .encabezado {
    border-style: dashed;
  }
  
  #encabezado_container {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  #encabezado_container {
    background-color: white;
    position: relative;
  }

  #encabezado_container #inicio {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  body {
    background-image: url('degradados-wallpapers-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  form {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }


  
  
  #ventanaEmergente,
  #ventanaEmergente2 {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #ventanaEmergente h4,
  #ventanaEmergente h4 {
    margin-top: 0;
  }
  
  #encabezado_container .encabezado {
    position: relative;
  }
  
  #encabezado_container .encabezado:hover + #ventanaEmergente,
  #encabezado_container .encabezado:hover + #ventanaEmergente2 {
    display: block;
  }

  #texto {
    margin-top: 6%;
    margin-bottom: 4%;
  }
  
  #cuerpo_container {
    text-align: center;
  }
  
  #input_cita_container {
    margin-top: 4%;
  }
  #input_cita {
    margin-right: 2%;
  }

  

  #QuienesSomosInfo {
    max-width: 325px; /* Define el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: justify; /* Justifica el texto dentro del párrafo */
  }
  
  
  

 

  .right-message {
    text-align: right;
    font-family: "Verdana", sans-serif;
    font-size: 36px;
    color: BLACK;
    margin-left:18%;
  }

  #coche {
      width: 50%;
     
  }
  

  .botones {
    margin-left: 17%
  }
  table {
    table-layout: fixed;
    width: 50%;
  }

  td {
    max-width: 100px; /* Ajusta el número de caracteres permitidos */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .imagenes_container{
    margin-top:3%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
  #texto_contenedor {
    text-align: center;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
  }
 #cuerpo_container{
    background-image: url('Mecanicos-certificados-en-nuestras-marcas.jpg');
    background-size: cover;
    background-position: center;
    }

  #MasInformacion {
    margin-top: 5%;
    color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  text-align: center;
  }

#reserva {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#texto {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
#atras {
  position: absolute;
  top: 10px;
  left: 50px;
}
#input_cita {
  width: 300px; /* Anchura del campo de entrada */
  height: 40px; /* Altura del campo de entrada */
  font-size: 16px; /* Tamaño de fuente del campo de entrada */
}

#inicio {
  width: 200px; /* Anchura del botón */
  height: 40px; /* Altura del botón */
  font-size: 18px; /* Tamaño de fuente del botón */
  margin-bottom: 15%;
}
#Informacion_container {
  background-color: #192A56; /* Fondo azul oscuro */
  padding: 20px; /* Añade un espacio de relleno alrededor del contenido */
 /* Color de texto blanco para mayor contraste */
}


.container {
  text-align: center;
}

.enlaces-horizontal {
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
}

.enlaces-horizontal a {
  margin: 0 10px;
}

.direccion {
  text-align: center;
}

#BannerInferior{
  background-color: white;
}

#logo_abajo{
  width: 10%;
  display: block;

}
  
